<!DOCTYPE HTML>
<html>
  <head>
    <title>AT4RT :: Check your token</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://use.fontawesome.com/9f442a5a12.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
  <style>
    body {
      font-family: verdana;
    }
  </style>
  </head>
  <body>
      <div id="wrapper">
          {{{body}}}
      </div>
  </body>
</html>