        <!-- Intro -->
          <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
              <h1>AtkoAccess</h1>
              <p>A demo app by <a href="https://www.okta.com">okta inc.</a><br />
              to invite people to enable everyone to access the right space at the right time.</p>
              <ul class="actions">
                <li><a href="/invite" class="button scrolly">Invite</a></li>
              </ul>
            </div>
          </section>
